body {
    text-align: center;
    background-image: url("images/map-of-the-world.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.container {
    margin: auto;
    padding: 30px 0px 50px 50px;
    text-align: left;
    width: 50%;
    min-width: 500px;
    background: white;
}
header {
    padding-bottom: 20px;
}
h2 {
    margin-top: 30px;
    margin-left: -30px;
    margin-right: 30px;
    border-bottom: 2px solid #777;
}
p img {
    width: 50px;
    height: 50px;
}
div.right span {
    margin-left: 10px;
    font-size: 30px;
}
hr {
    margin-top: 30px;
    margin-right: 30px;
}
.left {
    float: left;
    width: 50%;
}
footer {
    padding-right: 15px;
    position: fixed;
    bottom: 0;
    right: 0;
}